@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,600,700&display=swap');

$bg-gradient-one: #1f3756;
$bg-gradient-two: rgb(20, 21, 57);
$header-outline: rgb(96, 110, 133);
$score-text: hsl(229, 64%, 46%);
$dark-text: hsl(229, 25%, 31%);
$font-famiy: 'Barlow Semi Condensed', sans-serif;

@mixin colors($border, $shadow) {
  border: 10px solid $border;
  box-shadow: inset 0 5px 3px 1px rgba(0, 0, 0, 0.4), 0px 1px $shadow,
    0px 2px darken($shadow, 2%), 0px 3px darken($shadow, 4%),
    0px 4px darken($shadow, 6%), 0px 5px darken($shadow, 8%),
    0px 6px darken($shadow, 10%), 0px 7px darken($shadow, 12%),
    0px 8px darken($shadow, 14%), 0px 9px darken($shadow, 16%),
    0px 10px darken($shadow, 18%), 0 10px 5px 1px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: $font-famiy;
  background: linear-gradient(
      to bottom right,
      $bg-gradient-one,
      $bg-gradient-two
    )
    no-repeat fixed;
  background-size: cover;
  padding: 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 5vh auto;
  max-width: 600px;
  height: 120px;
  padding: 10px 15px;
  border: 2px solid $header-outline;
  border-radius: 10px;
}

.logo {
  object-fit: contain;
}

.score-card {
  max-width: 45%;
  width: 100px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
}

.score-card__text {
  color: $score-text;
  letter-spacing: 1px;
  font-weight: 600;
}

.score-card__score {
  color: $dark-text;
  font-size: 42px;
  font-weight: 700;
}

.main {
  min-height: calc(90vh - 120px);
  padding: 10vh 0;
}

.screen-one {
  position: relative;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
}

.screen-one-bg {
  max-width: 100%;
}

.character.one {
  cursor: pointer;
  position: absolute;
  background: #f0f0f0;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  & img {
    max-width: 40%;
  }
}

.scissors {
  @include colors(hsl(40, 84%, 53%), hsl(39, 89%, 49%));
}

.scissors.one {
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
}

.spock {
  @include colors(hsl(189, 58, 57), hsl(189, 59, 53));
}

.spock.one {
  top: 25%;
  left: -10%;
  transform: translateY(-25%);
}

.paper {
  @include colors(hsl(230, 89%, 65%), hsl(230, 89, 62));
}

.paper.one {
  top: 25%;
  right: -10%;
  transform: translateY(-25%);
}

.lizard {
  @include colors(hsl(261, 72, 63), hsl(261, 73, 60));
}

.lizard.one {
  bottom: -10%;
  left: 1%;
}

.rock {
  @include colors(hsl(349, 70, 56), hsl(349, 71, 52));
}

.screen-two {
  display: flex;
  justify-content: space-around;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.cpu-pick-placeholder {
  height: 180px;
  width: 180px;
  background: #000;
  border-radius: 50%;
  margin-top: 5vh;
  opacity: 0.2;
}

.character-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.two {
  position: relative;
  background: #f0f0f0;
  border-width: 20px;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  margin-top: 5vh;
}

.two.winner::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  z-index: -1;
  box-shadow: 0 5px 3px 80px rgba(96, 110, 133, 0.1),
    0 5px 3px 140px rgba(96, 110, 133, 0.1),
    0 5px 3px 200px rgba(96, 110, 133, 0.1);
}

.screen-two-text {
  color: #f0f0f0;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.rock.one {
  bottom: -10%;
  right: 1%;
}

.verdict {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5vh 5vh 0 5vh;
}

.verdict-text {
  color: #fff;
  font-weight: 600;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 2vh;
}

.reset-btn {
  cursor: pointer;
  background: #f0f0f0;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  width: 100%;
  padding: 10px 0;
  color: $bg-gradient-one;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 2px;
}

.rules-btn {
  position: absolute;
  bottom: 5vh;
  right: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background: none;
  padding: 8px 30px;
  border: 2px solid #b8b8b8;
  border-radius: 5px;
  letter-spacing: 2px;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}

.modal-overlay.close {
  display: none;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
}

.modal.close {
  display: none;
}

.modal-image-wrapper {
  margin: 15% 0;

  & img {
    width: 100%;
  }
}

.modal-text {
  position: absolute;
  top: 5%;
  left: 25px;
  color: $bg-gradient-one;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
}

.modal-close-btn {
  cursor: pointer;
  position: absolute;
  background: none;
  border: none;
  top: 5%;
  right: 25px;
  font-size: 32px;
}

@media screen and(max-width: 520px) {
  .screen-one-bg {
    max-width: 60%;
  }

  .character.one {
    height: 80px;
    width: 80px;
  }

  .rock.one {
    bottom: -15%;
    right: 15%;
    transform: translateX(-15%);
  }

  .verdict {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15vh;
    margin: 0;
  }

  .lizard.one {
    bottom: -15%;
    left: 15%;
    transform: translateX(15%);
  }

  .scissors.one {
    top: -20%;
    left: 50%;
  }

  .spock.one {
    top: 25%;
    left: 10%;
  }

  .paper.one {
    top: 25%;
    right: 10%;
  }

  .character-wrapper {
    flex-direction: column-reverse;
  }

  .character.two,
  .cpu-pick-placeholder {
    margin-bottom: 5vh;
    margin-top: 0;
    border-width: 15px;
    height: 120px;
    width: 120px;

    & img {
      max-width: 50%;
    }
  }

  .two.winner::after {
    box-shadow: 0 5px 3px 40px rgba(96, 110, 133, 0.1),
      0 5px 3px 70px rgba(96, 110, 133, 0.1),
      0 5px 3px 100px rgba(96, 110, 133, 0.1);
  }

  .rules-btn {
    right: 50%;
    transform: translateX(50%);
  }

  .modal-overlay {
    display: none;
  }

  .modal {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .modal-text {
    top: 10vh;
    left: auto;
  }

  .modal-close-btn {
    right: auto;
    bottom: 5vh;
    top: auto;
  }

  .modal-image-wrapper {
    margin: 0;
  }
}

@media screen and (max-height: 600px) and (max-width: 520px) {
  .main {
    padding: 5vh 0;
  }

  .modal-text {
    top: 5vh;
  }

  .character.one {
    width: 70px;
    height: 70px;
    border-width: 5px;
  }

  .character.two,
  .cpu-pick-placeholder {
    border-width: 10px;
    height: 100px;
    width: 100px;
  }

  .rules-btn {
    bottom: 2.5vh;
  }

  .verdict {
    bottom: 12vh;
  }

  .verdict-text {
    font-size: 2rem;
    margin-bottom: 1vh;
  }
}
